* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.concept {
  background-color: #333230;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.concept .left {
  width: 30%;
  position: relative;
}
@media screen and (max-width: 800px) {
  .concept .left {
    display: none;
  }
}
.concept .left img {
  width: 115%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.concept .left .separation {
  position: absolute;
  height: 155%;
  transform: rotate(15deg);
  top: -10%;
  left: 90%;
  display: flex;
  flex-direction: row;
}
.concept .left .separation .white {
  background-color: white;
  width: 10px;
  height: 100%;
}
.concept .left .separation .orange {
  background-color: rgb(198, 78, 28);
  width: 20px;
  height: 100%;
}
.concept .left .separation .black {
  background-color: #333230;
  width: 500px;
  height: 100%;
}
.concept .right {
  width: 80%;
  z-index: 10;
  padding: 5%;
  position: relative;
}
@media screen and (max-width: 800px) {
  .concept .right {
    width: 100%;
    height: 60vw;
  }
}
@media screen and (max-width: 550px) {
  .concept .right {
    height: 650px;
  }
}
.concept .right .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 550px) {
  .concept .right .title {
    flex-direction: column;
  }
}
.concept .right .title div hr {
  width: 130%;
  height: 4px;
  background-color: white;
  margin-top: 5%;
}
@media screen and (max-width: 550px) {
  .concept .right .title div hr {
    display: none;
  }
}
.concept .right h2 {
  color: white;
  margin: 1% 0;
  font-size: 32px;
}
.concept .right .hr {
  position: absolute;
  width: 30%;
  height: 4px;
  background-color: white;
  bottom: 10%;
  right: 0;
}
@media screen and (max-width: 800px) {
  .concept .right .hr {
    display: none;
  }
}
.concept .global {
  position: relative;
  width: 30%;
  height: 50px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 15px;
}
@media screen and (max-width: 550px) {
  .concept .global {
    width: 100%;
    margin: 5% auto;
  }
}
.concept .color {
  position: absolute;
  width: 50%;
  background-color: rgb(198, 78, 28);
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  border-radius: 15px;
}
.concept .text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  font-weight: bold;
}
.concept .midi, .concept .soir {
  z-index: 20;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.concept .midi {
  color: white;
}
.concept p {
  text-align: center;
}
.concept .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (max-width: 800px) {
  .concept .menu {
    flex-direction: column;
  }
}
.concept .menu .container {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  margin: 0;
  padding: 5%;
  border-radius: 15px;
}
@media screen and (max-width: 800px) {
  .concept .menu .container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 550px) {
  .concept .menu .container {
    flex-direction: column;
    height: 200px;
  }
}
.concept .menu .container p {
  font-size: 1.8vw;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .concept .menu .container p {
    font-size: 18px;
  }
}
.concept .menu .container .price {
  background-color: #333230;
  color: rgb(198, 78, 28);
  padding: 2%;
  border-radius: 5px;
  margin-top: 5%;
}
@media screen and (max-width: 800px) {
  .concept .menu .container .price {
    margin: 0;
  }
}
.concept .menu .container span {
  color: rgb(198, 78, 28);
}
.concept .all-menu {
  position: relative;
}
.concept .menu-midi {
  position: absolute;
  width: 100%;
}
.concept .menu-soir {
  position: absolute;
  width: 100%;
  opacity: 0;
}
.concept .translate {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 50%;
  transform: translate(0%, 0);
}
@-webkit-keyframes btn-midi {
  0% {
    transform: translate(0%, 0);
    width: 50%;
    left: 0%;
  }
  50% {
    width: 30%;
  }
  100% {
    transform: translate(-100%, 0);
    width: 50%;
    left: 100%;
  }
}
@keyframes btn-midi {
  0% {
    transform: translate(0%, 0);
    width: 50%;
    left: 0%;
  }
  50% {
    width: 30%;
  }
  100% {
    transform: translate(-100%, 0);
    width: 50%;
    left: 100%;
  }
}
@-webkit-keyframes btn-soir {
  0% {
    transform: translate(-100%, 0);
    width: 50%;
    left: 100%;
  }
  50% {
    width: 30%;
  }
  100% {
    transform: translate(0%, 0);
    width: 50%;
    left: 0;
  }
}
@keyframes btn-soir {
  0% {
    transform: translate(-100%, 0);
    width: 50%;
    left: 100%;
  }
  50% {
    width: 30%;
  }
  100% {
    transform: translate(0%, 0);
    width: 50%;
    left: 0;
  }
}
@-webkit-keyframes menu-midi-off {
  0% {
    transform: translate(0%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
}
@keyframes menu-midi-off {
  0% {
    transform: translate(0%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
}
@-webkit-keyframes menu-soir-on {
  0% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0);
    opacity: 1;
  }
}
@keyframes menu-soir-on {
  0% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0);
    opacity: 1;
  }
}
@-webkit-keyframes menu-soir-off {
  0% {
    transform: translate(0%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
}
@keyframes menu-soir-off {
  0% {
    transform: translate(0%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
}
@-webkit-keyframes menu-midi-on {
  0% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0);
    opacity: 1;
  }
}
@keyframes menu-midi-on {
  0% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */