@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    font-family: 'Rubik', sans-serif;

    .navbar {
        nav {
            background-color: #333230;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 50px;
            gap: 50%;
            position: fixed;
            width: 100%;
            z-index: 1;

            ul {
                display: flex;
                align-items: center;
                gap: 30px;
                width: auto;

                a {
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                }

                a:hover {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }

                #contact {
                    background-color: #c64e1c;
                    padding: 5px 15px;
                    border-radius: 50px;
                }
            }
        }
    }

    .header {
        width: 100%;
        height: 100%;
    }
}

.menus-list {
    #between-section {
        transform: translate(0, -50%);
        display: flex;
        justify-content: center;

        #text-container {
            background-color: #c64e1c;
            padding: 20px 50px;
            width: 25%;
            border-radius: 50px;

            #text {
                color: white;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2.5px;
            }
        }
    }
}




.concept {
    position: relative;
    z-index: -2;
    transform: translate(0, -10%);
    background-color: #333230;
    display: flex;
    flex-direction: column;
    padding: 5% 10%;

    h2 {
        color: white;
        margin: 1% 0;
        font-size: 32px;
    }

    .global {
        position: relative;
        width: 30%;
        height: 50px;
        display: flex;
        flex-direction: row;
        border: 2px solid #333230;
        border-radius: 15px;
    }

    .color {
        position: absolute;
        width: 50%;
        background-color: rgb(198, 78, 28);
        display: flex;
        flex-direction: row;
        height: 100%;
        transition: .5s;
        border-radius: 15px;
    }

    .text {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        font-weight: bold;
    }

    .midi,
    .soir {
        z-index: 20;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .midi {
        color: white;
    }

    p {
        text-align: center;
    }

    .menu-soir {
        display: none;
    }


    .translate {
        animation-duration: .5s;
        animation-fill-mode: forwards;
        width: 50%;
        transform: translate(0%, 0);
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 5%;

        .container {
            background-color: white;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 40%;
            margin: auto;
            padding: 5%;
            border-radius: 15px;

            p {
                font-size: 30px;
                font-weight: bold;
            }

            .price {
                background-color: #333230;
                color: rgb(198, 78, 28);
                padding: 10px 20px;
                border-radius: 50px;
                margin-top: 5%;
            }

            span {
                color: rgb(198, 78, 28);
            }
        }
    }

    @keyframes btn-midi {
        0% {
            transform: translate(0%, 0);
            width: 50%;
            left: 0%;
        }

        50% {
            width: 30%;
        }

        100% {
            transform: translate(-100%, 0);
            width: 50%;
            left: 100%;
        }
    }

    @keyframes btn-soir {
        0% {
            transform: translate(-100%, 0);
            width: 50%;
            left: 100%;
        }

        50% {
            width: 30%;
        }

        100% {
            transform: translate(0%, 0);
            width: 50%;
            left: 0;
        }
    }
}

.products-section-title {
    padding: 0% 10%;

    h2 {
        margin: 0.5% 0;
        font-size: 32px;
    }

    hr {
        width: 15%;
        height: 2px;
        background-color: black;
    }
}

.products-list {
    .wrapper {
        padding: 2% 0% 0% 7%;
        display: grid;
        grid-template-columns: 1fr repeat(10, 9.7%);
    }

    .content {
        grid-column: 2/12;
    }

    .block-horizontal-product-list .list-wrapper {
        display: flex;
        overflow-x: scroll;
        min-width: 100%;
        height: 400px;
    }


    ::-webkit-scrollbar {
        width: 0px;
    }

    .block-horizontal-product-list figure {
        margin: 0;
        margin-right: 1.5rem;
        background-color: #333230;
        color: white;
        border-radius: 10px;
        width: 250px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block-horizontal-product-list .image {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        height: 75%;
        object-fit: cover;
    }

    .block-horizontal-product-list .info {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        nav {
            flex-wrap: wrap;
            height: auto !important;
            ul {
                padding: 0 !important;
                margin: 10px 0px !important;
            }
        }
    }
    .header {
        img {
            transform: translate(0, 55%) !important;
        }
    }
    .menus-list #between-section #text-container #text {
        color: white;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
    }
    .menus-list #between-section #text-container {
        background-color: #c64e1c;
        padding: 10px 50px;
        width: 50%;
        border-radius: 50px;
    }
    .menus-list #between-section {
        transform: translate(0, 185%);
        display: flex;
        justify-content: center;
    }
    .concept {
        transform: translate(0, 8%);
        .global {
            width: 100%;
        }
        .menu {
            flex-wrap: wrap;
        }
        .container {
            width: 90% !important;
            margin: 0;
            p {
                font-size: 20px !important;
            }
        }
        h2 {
            margin: 5% 0px 0px 0px;
        }
    }
    .products-list {
        transform: translate(0, 15%);
    }
}