@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
* .navbar nav {
  background-color: #333230;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  gap: 50%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
* .navbar nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  width: auto;
}
* .navbar nav ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
* .navbar nav ul a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
* .navbar nav ul #contact {
  background-color: #c64e1c;
  padding: 5px 15px;
  border-radius: 50px;
}
* .header {
  background-image: url("IMG/background.png");
  background-size: cover;
  height: 45vw;
}
* .header #title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 25px;
  font-weight: bold;
  font-size: 50px;
  gap: 390px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* .header #catchphrase {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 5px;
  font-size: 25px;
  gap: 350px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* .menus-list #between-section {
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
}
* .menus-list #between-section #text-container {
  background-color: #c64e1c;
  padding: 20px 50px;
  width: 25%;
  border-radius: 50px;
}
* .menus-list #between-section #text-container #text {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.concept {
  position: relative;
  z-index: -2;
  transform: translate(0, -10%);
  background-color: #333230;
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
}
.concept h2 {
  color: white;
  margin: 1% 0;
  font-size: 32px;
}
.concept .global {
  position: relative;
  width: 30%;
  height: 50px;
  display: flex;
  flex-direction: row;
  border: 2px solid #333230;
  border-radius: 15px;
}
.concept .color {
  position: absolute;
  width: 50%;
  background-color: rgb(198, 78, 28);
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  border-radius: 15px;
}
.concept .text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  font-weight: bold;
}
.concept .midi,
.concept .soir {
  z-index: 20;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.concept .midi {
  color: white;
}
.concept p {
  text-align: center;
}
.concept .menu-soir {
  display: none;
}
.concept .translate {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 50%;
  transform: translate(0%, 0);
}
.concept .menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 5%;
}
.concept .menu .container {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: auto;
  padding: 5%;
  border-radius: 15px;
}
.concept .menu .container p {
  font-size: 30px;
  font-weight: bold;
}
.concept .menu .container .price {
  background-color: #333230;
  color: rgb(198, 78, 28);
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 5%;
}
.concept .menu .container span {
  color: rgb(198, 78, 28);
}
@-webkit-keyframes btn-midi {
  0% {
    transform: translate(0%, 0);
    width: 50%;
    left: 0%;
  }
  50% {
    width: 30%;
  }
  100% {
    transform: translate(-100%, 0);
    width: 50%;
    left: 100%;
  }
}
@keyframes btn-midi {
  0% {
    transform: translate(0%, 0);
    width: 50%;
    left: 0%;
  }
  50% {
    width: 30%;
  }
  100% {
    transform: translate(-100%, 0);
    width: 50%;
    left: 100%;
  }
}
@-webkit-keyframes btn-soir {
  0% {
    transform: translate(-100%, 0);
    width: 50%;
    left: 100%;
  }
  50% {
    width: 30%;
  }
  100% {
    transform: translate(0%, 0);
    width: 50%;
    left: 0;
  }
}
@keyframes btn-soir {
  0% {
    transform: translate(-100%, 0);
    width: 50%;
    left: 100%;
  }
  50% {
    width: 30%;
  }
  100% {
    transform: translate(0%, 0);
    width: 50%;
    left: 0;
  }
}/*# sourceMappingURL=index.css.map */